@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

body {
  /* background: linear-gradient(to right, pink, lightgreen); */
  color: #333333;
  font-family: roboto;
  margin-top: 5rem;
  background-color: #e2d0fd;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23af81f7' fill-opacity='0.3'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6fadfa;
}

ul {
  margin: 0%;
}

.bg-steel {
  /* background-color: #49b3ff; */
  background-color: #a56afdd5;
}

.site-header .navbar-nav .nav-link {
  color: #395f5fcb;
  background: #ebfdda;
  border-radius: 10px;
  margin: 5px;
  font-family: cinzel;
  font-size: 1.5rem;
}

.site-header .navbar-nav .nav-link:hover {
  color: #a6f5f2;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #e7fdf7;
  padding: 10px 20px;
  border: 3px solid #7c0101;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.register-section {
  background: #b4fce9d3;
  padding: 10px 20px;
  border: 3px solid #7c0101;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #556efa;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid black;
}

.article-metadata a:hover {
  color: rgb(192, 252, 217);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 3rem;
}

#title1 {
  /* color: #4336f8; */
  background: cyan;
  font-family: cinzel;
  border-radius: 10px;
  padding: 10px;
  color: rgb(66, 163, 126);
  font-size: 2rem;
}

.list-group-item {
  background-color: #fff3de;
}

.logout-banner {
  background-color: #8dfcbbcb;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 5%;
  border: 2px solid #7c0101;
}
